html, body {
    height: 100%;
}

.center_parent {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.center_parent > .center_child {
    display: table-cell;
    vertical-align: middle;
}

.login{
    display: inline-block;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.login > img {
    width: 100px;
}
